.bg-black {
    background-color: $black !important;
}

.bg-dark-black {
    background-color: $dark-black !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-clear-gray {
    background-color: $clear-gray !important;
}

.bg-dark-gray {
    background-color: $dark-gray !important;
}

.bg-blue {
    background-color: $blue !important;
}

.bg-dark-blue {
    background-color: $dark-blue !important;
}

.bg-dark-blue4 {
    background-color: $dark-blue4 !important;
}

.bg-light-blue {
    background-color: $light-blue !important;
}

.bg-light-blue2 {
    background-color: $light-blue2 !important;
}

.bg-green {
    background-color: $green !important;
}

.bg-clear-green {
    background-color: $clear-green !important;
}

.bg-green2 {
    background-color: $green2 !important;
}

.bg-reactive-green {
    background-color: $reactive-green !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.bg-red {
    background-color: $red !important;
}

.bg-clear-red {
    background-color: $clear-red !important;
}
