$black: #212121;
$dark-black: #1a1a1a;
$white: #ffffff;
$clear-gray: #f1f1f1;
$dark-gray: #909090;
$green: #a1c52a;
$clear-green: #e6f2c0;
$green2: #6cb836;
$green3: #00865c;
$red: #ff404d;
$clear-red: #ffcccf;
$reactive-green: #cefc35;
$reactive-green2: #4f6114;
$blue: #00b4ff;
$light-blue: #acb7c0;
$dark-blue: #474554;
$dark-blue2: #849ba2;
$dark-blue3: #3d5875;
$dark-blue4: #6b6a76;
$light-blue2: #e2e7e9;
$yellow: #e1c541;
